* {
  box-sizing: border-box;
  background-color: rgb(25, 24, 24);
}

.box {
  padding: 6px;
  width: 150px;
  height: 60px;
  background-color: rgb(255, 255, 255);
  margin: 3px;
}

.box_1 {
  background-color: aliceblue;
  border: 2px;
  position: relative;
  left: 20px;
  animation: Animacion 2s linear;
}

.box_2 {
  background-color: blue;
  position: relative;
  left: -20px;
}

.box_3 {
  background-color: red;
}

@keyframes Animacion {
  50% {
    transform: translate(90px);
  }
  
}
