:root {
  --color-principal: #0c0c0c;
  --tipografia: Bebas Neue;
  --tamano: 16px;
  --letraColor: #0f093a;
  --letraColorSecundario: #a49ad0;
  --colorFondo: #4451b2;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
    font-size: var(--tamano);
}

body {
  font-family: var(--tipografia);
  font-size: var(--tamano);
  color: var(--letraColor);
}
